<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span><h3>Sample App</h3></span>
    <span class="example-fill-remaining-space"></span>
    <span class="align-center"></span>
    <span class="example-spacer"></span>

    <button  routerLink="home" mat-button>Home</button>
    <button routerLink="auth/login" mat-button>Login</button>
    <button  *ngIf="authority === 'pm'" routerLink="pm" mat-button>
    PM Board
    </button>
    <button  *ngIf="authority === 'user'" routerLink="user" mat-button>
   User Board
      </button>
      <button  *ngIf="authority === 'admin'" routerLink="admin" mat-button>
        Admin Board
           </button>
  </mat-toolbar-row>
</mat-toolbar><br>

<div class="container">
  <router-outlet></router-outlet>
</div>